body {
    margin: 0;
    background: lightblue;
}

/* Style the header */

.header {
  border:solid 0.5em;
  height:1em;
  width: 50%;
  padding: 1em;
  margin-top: 10em;
  margin: auto;
  border-width: 1em 1em 1em 1em;
  text-shadow: -1em -0.5em 0.1em yellow;
  font-family: "Algerian";
  font-size:1.5em;
  border-color: red;
  background-color: green;
  border-radius: 5em 5em 5em 5em;
  text-align: center;
}
/*Top*/
.navigation{
  background-size:cover;
  font-family: Arial;
  color: white;
  width: 100%;
  height: 5em;
  position:static;

}
.navigation a:hover{color:lightblue; text-decoration: underline; background-color: #20B2AA ;}

ul{
  margin: 0px;
  padding: 0px;
  color:white;
  list-style: none;
  text-align: center;

}
ul li{
  float: left;
  width:310px;
  height:40px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: block;
}
/*paragraph*/
.paragraph {
  padding: 1em;
}
p{
  width: 80%;
  padding-left: 1em;
}
.list{
  border:solid;
  width: 15%;
}
/*Slide*/
.slide{
  width: 48%;
  height: 100%;
  padding: 0;
  margin: 0px;
  float: left;
}
slider{
  display:block;
  width:48%;
  height:25em;
  background-color: orange;
  overflow:hidden;
  position:absolute;
}
slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height:25em;
  background-color: red;
  animation: slide 12s infinite;
  overflow: hidden;
  float: left;
}
slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url(../images/1.jpg);
  background-size: 100% 100%;
  background-position:center;
  float: left;
}
slide:nth-child(2) {
  left: 0%;
  animation-delay: 2s;
  background-image: url(../images/2.jpg);
    background-size: 100% 100%;
  background-position:center;
    float: left;
}
slide:nth-child(3) {
  left: 0%;
  animation-delay: 5s;
  background-image: url(../images/3.jpg);
    background-size: 100% 100%;
  background-position:center;
    float: left;
}
slide:nth-child(4) {
  left: 0%;
  animation-delay: 8s;
  background-image: url(../images/4.jpg);
    background-size: 100% 100%;
  background-position:center;
    float: left;
}
slide p {
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-inline-block;
  width: 100%;
  margin-top: 150px;
  color: #fff;
}
@keyframes slide {
  0% { left: 100%; width: 100%;}
  5% { left: 0%;}
  25% { left:0%;}
  30% {left: -100%; width: 100%}
  30.0001% { left: -100%; width: 0%;}
  100% { left: 100%; width: 0%}
}
.video{
  width: 48%;
  height:100%;
  /*top: -42.5em;*/
  left: -5em;
  float: left;
}
.column{
    width:100%;
    height: 25em;
    margin-left: 1em;
  }
  .footer {
    background-color: grey;
    padding: 1em;
     text-align: center;
     text-size: 10em;
     border: solid;
     border-color: black;
  }
  .link{
    margin: 1em;
    text-align: center;
  }
  .links a{
    display: inline-block;
    color: yellow;
    text-align: center;
    text-decoration: none;
  }
  .link a:hover{
    background-color: Green;
    color: blue;
    font-size: 2em;
  }
